## Introduction to Python for Data Analsyis

### Module 1: DataFrames and Python
Duration: ~ 45'

In this module, we will explore:

- What is a pandas Dataframe
- How to read and export data in pandas
- How to perform basic operations with a pandas DataFrame, such as:
    - Sorting
    - Locating by index and position
- Perform more complex operatios like grouping and filtering

### What is pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language. In particular, it offers data structures and operations for manipulating numerical tables and time series. 

Its core object is called *DataFrame*; a data structure that organizes data into a 2-dimensional table of rows and columns, much like a spreadsheet. Its advantage over traditional arrays (such as ones used by *numpy*) is that each column can contain information **of different type**, e.g. one columsn can containg strings (names, occupations, martial status) and adjacrnt columns can be, among others, intgeres, floats, datetimes etc.

It is built **on top** of numpy (the core numerical library of python) which makes it highly efficient Also, some core parts of pandas are written in Cython (a superset of the Python language that additionally supports calling C functions and declaring C types on variables and class attributes).

### Loading pandas

Once installed, you can import it e.g. using the alias `pd` as follows:

In [1]:
import pandas as pd

### Reading datasets with `pandas`

We are going to use the METABRIC dataset, on open source dataset which contains targeted sequencing, clinical and genomic data from patients with breast cancer. More information about the dataset can be found [here](https://ega-archive.org/studies/EGAS00000000083) and [here](https://www.kaggle.com/datasets/raghadalharbi/breast-cancer-gene-expression-profiles-metabric).

Pandas allows importing data from various file formats such as csv, xls, json, sql. They all follow the same pattern: `.read_{format_of_the_file}`, e.g. `.read_sql()`, `.read_xls()` etc.

To read a csv file, use the method `.read_csv()`:

In [2]:
metabric = pd.read_csv("../data/metabric_clinical_and_expression_data.csv")

If you forget to include `../data/` above, or if you include it but your copy of the file is saved somewhere else, you will get an error that ends with a line like this: 

`FileNotFoundError: File b'metabric_clinical_and_expression_data.csv' does not exist`

Generally, rows in a `DataFrame` are the **observations** (patients in the case of METABRIC) whereas columns are known as the observed **variables** (Cohort, Age_at_diagnosis ...). 

Looking at the column on the far left, you can see the row names of the DataFrame `metabric` assigned using the known 0-based indexing used in Python.

Note that the `.read_csv()` method is not limited to reading csv files. For example, you can also read Tab Separated Value (TSV) files by adding the argument `sep='\t'`.

### Exploring the dataset

DataFrames in pandas are classes, which means they carry specific attributes. 

**Methods** are functions that are associated with a DataFrame. Because they are functions, you do use () to call them, and can have arguments added inside the parentheses to control their behaviour. For example, the `.info()` command we executed previously was a method.


The most important methods ones to initally examine a dataset are:

- `.info()`: We can view basic information about our DataFrame object, like the type of each column and the number of missing entries.
- `.describe()`: We can quickly view some statistical meassures for our numerical variables

In [6]:
metabric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Patient_ID                     1904 non-null   object
 1   Cohort                         1904 non-null   int64
 2   Age_at_diagnosis               1904 non-null   float64
 3   Survival_time                  1904 non-null   float64
 4   Survival_status                1904 non-null   object
 5   Vital_status                   1903 non-null   object
 6   Chemotherapy                   1904 non-null   object
 7   Radiotherapy                   1904 non-null   object
 8   Tumour_size                    1884 non-null   float64
 9   Tumour_stage                   1403 non-null   float64
 10  Neoplasm_histologic_grade      1832 non-null   float64
 11  Lymph_nodes_examined_positive  1904 non-null   int64
 12  Lymph_node_status              1904 non-null   int64
 13  Cancer_type                    1889 non-null   object
 14  ER_status                      1904 non-null   object
 15  PR_status                      1904 non-null   object
 16  HER2_status                    1904 non-null   object
 17  HER2_status_measured_by_SNP6   1904 non-null   object
 18  PAM50                          1904 non-null   object
 19  3-gene_classifier              1700 non-null   object
 20  Nottingham_prognostic_index    1904 non-null   float64
 21  Cellularity                    1850 non-null   object
 22  Integrative_cluster            1904 non-null   object
 23  Mutation_count                 1859 non-null   float64
 24  ESR1                           1904 non-null   float64
 25  ERBB2                          1904 non-null   float64
 26  PGR                            1904 non-null   float64
 27  TP53                           1904 non-null   float64
 28  PIK3CA                         1904 non-null   float64
 29  GATA3                          1904 non-null   float64
 30  FOXA1                          1904 non-null   float64
 31  MLPH                           1904 non-null   float64
dtypes: float64(15), int64(3), object(14)
memory usage: 476.1+ KB

In [7]:
metabric.describe()

,Cohort,Age_at_diagnosis,Survival_time,Tumour_size,Tumour_stage,Neoplasm_histologic_grade,Lymph_nodes_examined_positive,Lymph_node_status,Nottingham_prognostic_index,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
count,1904.000000,1904.000000,1904.000000,1884.000000,1403.000000,1832.000000,1904.000000,1904.000000,1904.000000,1859.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000
mean,2.643908,61.087054,125.121324,26.238726,1.750535,2.415939,2.002101,1.639706,4.033019,5.697687,9.607824,10.765364,6.237203,6.197967,5.970097,9.502910,10.800526,11.362384
std,1.228615,12.978711,76.334148,15.160976,0.628999,0.650612,4.079993,0.743809,1.144492,4.058778,2.133827,1.357359,1.020871,0.401864,0.352549,1.502636,1.754282,1.687555
min,1.000000,21.930000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,5.217238,6.372949,4.860645,5.201128,5.158697,5.277722,5.184945,5.323652
25%,1.000000,51.375000,60.825000,17.000000,1.000000,2.000000,0.000000,1.000000,3.046000,3.000000,8.092992,9.969681,5.408728,5.930335,5.735007,8.767954,10.829777,11.042871
50%,3.000000,61.770000,115.616667,23.000000,2.000000,3.000000,0.000000,1.000000,4.042000,5.000000,10.252166,10.530301,5.877591,6.185873,5.938094,9.911805,11.367947,11.873967
75%,3.000000,70.592500,184.716667,30.000000,2.000000,3.000000,2.000000,2.000000,5.040250,7.000000,11.268331,11.159306,6.899220,6.456987,6.148720,10.560220,11.779545,12.396317
max,5.000000,96.290000,355.200000,182.000000,4.000000,3.000000,45.000000,3.000000,6.360000,80.000000,13.265184,14.643900,9.932115,7.921411,8.708396,12.812082,13.127682,14.432001

You can access the dimensions of your DataFrame using the `.shape` attribute. The first value is the number of rows, and the second the number of columns:

In [11]:
print(metabric.shape)
print(f"Number of rows: {metabric.shape[0]}")
print(f"Number of columns: {metabric.shape[1]}")

(1904, 32)
Number of rows: 1904
Number of columns: 32

The row and column names can be accessed using the attributes `.index` and `.columns` respectively:

In [13]:
print(metabric.index)
print(metabric.columns)

RangeIndex(start=0, stop=1904, step=1)
Index(['Patient_ID', 'Cohort', 'Age_at_diagnosis', 'Survival_time',
       'Survival_status', 'Vital_status', 'Chemotherapy', 'Radiotherapy',
       'Tumour_size', 'Tumour_stage', 'Neoplasm_histologic_grade',
       'Lymph_nodes_examined_positive', 'Lymph_node_status', 'Cancer_type',
       'ER_status', 'PR_status', 'HER2_status', 'HER2_status_measured_by_SNP6',
       'PAM50', '3-gene_classifier', 'Nottingham_prognostic_index',
       'Cellularity', 'Integrative_cluster', 'Mutation_count', 'ESR1', 'ERBB2',
       'PGR', 'TP53', 'PIK3CA', 'GATA3', 'FOXA1', 'MLPH'],
      dtype='object')

Accesing individual columns of a pandas dataframe can be achieved in two ways:

- The first is using the name of the DataFrame `metabric` followed by a `.` and then followed by the name of the column. 
- The second is using square brackets.

*Note: If your column name contains spaces, the first method is **not** applicable*

In [14]:
print(metabric.Survival_time, metabric["Survival_time"])

0       140.500000
1        84.633333
2       163.700000
3       164.933333
4        41.366667
           ...
1899    196.866667
1900     44.733333
1901    175.966667
1902     86.233333
1903    201.900000
Name: Survival_time, Length: 1904, dtype: float64 0       140.500000
1        84.633333
2       163.700000
3       164.933333
4        41.366667
           ...
1899    196.866667
1900     44.733333
1901    175.966667
1902     86.233333
1903    201.900000
Name: Survival_time, Length: 1904, dtype: float64

We can also compute metrics on specific columns or on the entire DataFrame:

*Note: Using metrics methods on whole DataFrames that contain categorical columns will ommit them aytomatically. Depending on the pandas version, this will result to an warning.*

In [16]:
print(metabric['Survival_time'].mean())
print(metabric['Survival_time'].std())
print(metabric.mean())

125.12132352924738
76.33414828620853
Cohort                             2.643908
Age_at_diagnosis                  61.087054
Survival_time                    125.121324
Tumour_size                       26.238726
Tumour_stage                       1.750535
Neoplasm_histologic_grade          2.415939
Lymph_nodes_examined_positive      2.002101
Lymph_node_status                  1.639706
Nottingham_prognostic_index        4.033019
Mutation_count                     5.697687
ESR1                               9.607824
ERBB2                             10.765364
PGR                                6.237203
TP53                               6.197967
PIK3CA                             5.970097
GATA3                              9.502910
FOXA1                             10.800526
MLPH                              11.362384
dtype: float64

/var/folders/tq/8nt7c8ld587csq8jpk2dycbr0000gn/T/ipykernel_1366/2193329495.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(metabric.mean())

### Selecting columns and rows

The [pandas cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) can be very helpful for recalling basic pandas operations.

To select rows and columns in a DataFrame, we use square brackets `[ ]`. There are two ways to do this: with **positional** indexing, which uses index numbers, and **label-based** indexing which uses column or row names.

To select the first three rows using their numeric index (The colon `:` defines the range "from the beggining until"):

In [17]:
metabric[:3]

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,4ER+,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,4ER+,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,3,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115

And we can combine the row and columns selection like that:

In [18]:
metabric[:3]['Mutation_count']

0    NaN
1    2.0
2    2.0
Name: Mutation_count, dtype: float64

However the following does not work, as it would in languages like R:

In [19]:
metabric[:3,'Mutation_count']

InvalidIndexError: (slice(None, 3, None), 'Mutation_count')

To do **positional** indexing for both rows and columns, use `.iloc[]`. The first argument is the numeric index of the rows, and the second the numeric index of the columns:

In [20]:
metabric.iloc[:3,2]

0    75.65
1    43.19
2    48.87
Name: Age_at_diagnosis, dtype: float64

For **label-based** indexing, use `.loc[]` with the column and row names:

In [21]:
metabric.loc[:3,"Age_at_diagnosis"]

0    75.65
1    43.19
2    48.87
3    47.68
Name: Age_at_diagnosis, dtype: float64

**Note**: because the rows have numeric indices in this DataFrame, we may think that selecting rows with `.iloc[]` and `.loc[]` is same. As observed above, this is not the case.

If you'd like to select more than one column:

In [22]:
metabric.loc[:3, ['Cohort', 'Chemotherapy']]

   Cohort Chemotherapy
0       1           NO
1       1           NO
2       1          YES
3       1          YES

In [23]:
metabric.loc[:3, 'Cohort':'Chemotherapy']

,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy
0,1,75.65,140.500000,LIVING,Living,NO
1,1,43.19,84.633333,LIVING,Living,NO
2,1,48.87,163.700000,DECEASED,Died of Disease,YES
3,1,47.68,164.933333,LIVING,Living,YES

### Filtering rows

You can choose rows from a DataFrame that match some specified criteria. The criteria are based on values of variables and can make use of comparison operators such as `==`, `>`, `<` and `!=`.

For example, to filter `metabric` so that it only contains observations for those patients who died of breast cancer:

In [24]:
metabric[metabric.Vital_status=="Died of Disease"]

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,3,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,9,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961
5,MB-0010,1,78.77,7.800000,DECEASED,Died of Disease,NO,YES,31.0,4.0,...,7,4.0,11.239750,9.739996,5.954311,5.419711,6.123056,9.787085,12.142178,11.433164
9,MB-0035,1,84.22,36.266667,DECEASED,Died of Disease,NO,NO,28.0,2.0,...,3,5.0,7.536847,11.514514,5.587666,6.411477,5.988243,10.212610,12.804542,13.474571
10,MB-0036,1,85.49,132.033333,DECEASED,Died of Disease,NO,YES,22.0,4.0,...,3,1.0,10.927313,10.033753,7.002502,5.943520,5.650386,10.845709,11.991655,12.466928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,MB-7291,4,53.87,6.833333,DECEASED,Died of Disease,NO,NO,50.0,NaN,...,1,4.0,6.096158,12.600238,5.260572,6.351516,5.829438,8.116684,10.298983,10.747426
1896,MB-7292,4,52.90,78.466667,DECEASED,Died of Disease,NO,YES,15.0,NaN,...,6,3.0,9.565225,10.215534,6.946029,6.230146,5.930059,8.844543,10.949128,10.711007
1898,MB-7294,4,59.20,82.733333,DECEASED,Died of Disease,NO,NO,15.0,NaN,...,1,2.0,11.290976,10.846545,7.312247,5.660943,6.190000,9.424235,11.075688,11.567166
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,5,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,1,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360

To filter based on more than one condition, you can use the operators `&` (and), `|` (or).

In [25]:
metabric[(metabric.Vital_status=="Died of Disease") & (metabric.Age_at_diagnosis>70)]

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,9,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961
5,MB-0010,1,78.77,7.800000,DECEASED,Died of Disease,NO,YES,31.0,4.0,...,7,4.0,11.239750,9.739996,5.954311,5.419711,6.123056,9.787085,12.142178,11.433164
9,MB-0035,1,84.22,36.266667,DECEASED,Died of Disease,NO,NO,28.0,2.0,...,3,5.0,7.536847,11.514514,5.587666,6.411477,5.988243,10.212610,12.804542,13.474571
10,MB-0036,1,85.49,132.033333,DECEASED,Died of Disease,NO,YES,22.0,4.0,...,3,1.0,10.927313,10.033753,7.002502,5.943520,5.650386,10.845709,11.991655,12.466928
38,MB-0112,1,83.89,39.166667,DECEASED,Died of Disease,NO,YES,150.0,3.0,...,3,8.0,9.185200,9.580607,5.480888,6.068563,5.513442,10.334501,11.513395,12.185778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1786,MB-7133,4,71.41,23.833333,DECEASED,Died of Disease,NO,YES,18.0,NaN,...,1,8.0,9.963847,10.486243,5.446796,5.592907,5.910852,10.360905,11.304980,11.840719
1823,MB-7185,4,70.76,125.033333,DECEASED,Died of Disease,NO,YES,16.2,NaN,...,8,9.0,11.949865,11.485468,6.465373,6.495243,5.635878,10.844879,12.333075,12.708275
1858,MB-7237,4,77.37,23.933333,DECEASED,Died of Disease,NO,NO,18.0,NaN,...,9,10.0,9.879010,11.007182,6.259103,6.518297,5.678203,10.594228,10.749515,12.119799
1859,MB-7238,4,71.11,23.266667,DECEASED,Died of Disease,NO,NO,27.0,NaN,...,8,7.0,9.520532,10.370414,5.390623,5.771310,5.560965,10.110271,11.426720,12.080146
1885,MB-7279,4,86.14,21.300000,DECEASED,Died of Disease,NO,NO,50.0,NaN,...,9,4.0,9.377438,12.237637,6.495096,6.568044,5.314676,9.369560,11.456438,12.027578

For categorical variables e.g. `Vital_status` or `Cohort`, it may be useful to count how many occurrences there is for each category:

In [ ]:
metabric['Vital_status'].unique()

In [ ]:
metabric['Vital_status'].value_counts()

To filter by more than one category, use the `.isin()` method.

In [ ]:
metabric[metabric.Vital_status.isin(['Died of Disease', 'Died of Other Causes'])]

### Sort data

To sort the entire DataFrame according to one of the columns, we can use the `.sort_values()` method. We can store the sorted DataFrame using a new variable name such as `metabric_sorted`:

In [27]:
metabric_sorted = metabric.sort_values('Tumour_size')
metabric_sorted

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
1178,MB-5154,3,31.87,170.833333,LIVING,Living,NO,NO,1.0,1.0,...,3,2.0,6.390271,14.150505,5.374285,6.166627,5.730209,7.682715,10.980236,11.920582
939,MB-4714,3,64.68,83.666667,DECEASED,Died of Other Causes,YES,YES,1.0,2.0,...,10,7.0,5.756730,11.451638,5.218476,6.951965,6.113398,7.928369,5.675331,7.096104
1489,MB-5640,3,58.00,172.300000,LIVING,Living,NO,NO,1.0,1.0,...,4ER+,5.0,11.471468,10.710609,6.767783,5.857385,5.779344,10.733006,12.006139,12.380562
867,MB-4548,3,50.42,322.833333,LIVING,Living,YES,YES,1.0,2.0,...,4ER-,2.0,5.703593,13.999965,5.270841,6.500610,6.011818,7.070812,8.922047,10.536358
1343,MB-5407,3,36.03,205.600000,LIVING,Living,NO,YES,1.0,1.0,...,8,9.0,10.877464,11.983508,7.275882,6.079454,5.890194,11.062042,11.983090,12.856245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,MB-6141,5,79.84,78.866667,DECEASED,Died of Other Causes,NO,NO,NaN,NaN,...,8,1.0,11.155460,10.711909,5.362010,5.913182,5.827326,11.645141,11.964034,13.320232
1580,MB-6160,5,46.23,247.366667,LIVING,Living,YES,NO,NaN,NaN,...,9,4.0,5.887579,13.896580,5.494239,6.122002,5.795817,8.259371,11.106729,10.908745
1609,MB-6217,5,47.51,211.533333,DECEASED,Died of Other Causes,YES,NO,NaN,NaN,...,9,6.0,10.312296,11.494632,6.158972,6.177842,5.655659,10.679476,11.568274,12.442291
1620,MB-6234,5,66.35,213.366667,LIVING,Living,NO,NO,NaN,NaN,...,4ER+,4.0,10.801931,10.695930,6.603785,5.957729,5.790894,10.569577,11.251508,11.758685
1635,MB-6272,5,36.93,22.400000,DECEASED,Died of Disease,YES,YES,NaN,NaN,...,10,6.0,5.741627,10.298811,5.291367,5.701960,5.747574,6.121951,5.984301,6.368798

We can also sort the DataFrame in descending order:

In [26]:
metabric_sorted = metabric.sort_values('Tumour_size', ascending=False)
metabric_sorted

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
1812,MB-7165,4,28.78,147.166667,LIVING,Living,YES,YES,182.0,NaN,...,10,7.0,5.426713,9.507019,5.229264,7.921411,6.407379,7.674084,7.179491,9.213541
266,MB-0406,1,69.32,96.900000,DECEASED,Died of Disease,YES,YES,180.0,3.0,...,2,5.0,10.295546,10.515396,5.867643,6.085246,5.780428,10.889048,11.546029,12.883059
460,MB-0660,1,52.43,18.933333,DECEASED,Died of Disease,YES,YES,160.0,1.0,...,10,5.0,6.806700,10.392012,5.534153,6.319585,5.647157,9.137186,11.317307,10.730205
38,MB-0112,1,83.89,39.166667,DECEASED,Died of Disease,NO,YES,150.0,3.0,...,3,8.0,9.185200,9.580607,5.480888,6.068563,5.513442,10.334501,11.513395,12.185778
710,MB-3436,2,38.20,50.766667,DECEASED,Died of Disease,YES,YES,130.0,3.0,...,1,4.0,10.227027,9.888552,8.437960,6.322436,6.534325,9.243268,12.050932,12.602092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,MB-6141,5,79.84,78.866667,DECEASED,Died of Other Causes,NO,NO,NaN,NaN,...,8,1.0,11.155460,10.711909,5.362010,5.913182,5.827326,11.645141,11.964034,13.320232
1580,MB-6160,5,46.23,247.366667,LIVING,Living,YES,NO,NaN,NaN,...,9,4.0,5.887579,13.896580,5.494239,6.122002,5.795817,8.259371,11.106729,10.908745
1609,MB-6217,5,47.51,211.533333,DECEASED,Died of Other Causes,YES,NO,NaN,NaN,...,9,6.0,10.312296,11.494632,6.158972,6.177842,5.655659,10.679476,11.568274,12.442291
1620,MB-6234,5,66.35,213.366667,LIVING,Living,NO,NO,NaN,NaN,...,4ER+,4.0,10.801931,10.695930,6.603785,5.957729,5.790894,10.569577,11.251508,11.758685
1635,MB-6272,5,36.93,22.400000,DECEASED,Died of Disease,YES,YES,NaN,NaN,...,10,6.0,5.741627,10.298811,5.291367,5.701960,5.747574,6.121951,5.984301,6.368798

### Missing data

Pandas primarily uses `NaN` to represent missing data, which are by default not included in computations.

The `.info()` method shown above already gave us a way to find columns containing missing data:

In [ ]:
metabric.info()

To get the locations where values are missing:

In [ ]:
pd.isna(metabric)

In [ ]:
metabric.isnull()

To drop any rows containing at least one column with missing data:

In [ ]:
metabric.dropna()

However, from the other way around, to rather remove columns with at least one row with missing data, you need to use the 'axis' argument:

In [ ]:
metabric.dropna(axis=1)

Define in which columns to look for missing values before dropping the row:

In [ ]:
metabric.dropna(subset = ["Tumour_size"])

In [ ]:
metabric.dropna(subset = ["Tumour_size", "Tumour_stage"])

Filling missing data:

In [ ]:
metabric.fillna(value=0)

In [ ]:
metabric.fillna(value={'Tumour_size':0, 'Tumour_stage':5})

### Grouping

Grouping patients by Cohort and then applying the `.mean()` function to the resulting groups:

*Note: There are more *

In [ ]:
metabric.groupby('Cohort')

In [ ]:
metabric.groupby('Cohort').mean()

Grouping by multiple columns forms a hierarchical index, and again we can apply the `.mean()` function:

In [ ]:
metabric.groupby(['Cohort', 'Vital_status']).mean()

### Q&A

### Duration: ~10'